# GZIP
<ifModule mod_gzip.c>
mod_gzip_on Yes
mod_gzip_dechunk Yes
mod_gzip_item_include file \.(html?|txt|css|js|php|pl)$
mod_gzip_item_include mime ^application/x-javascript.*
mod_gzip_item_include mime ^text/.*
mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
mod_gzip_item_exclude mime ^image/.*
mod_gzip_item_include handler ^cgi-script$
</ifModule>
# GZIP END

# CACHE NAVIGATEUR
# BEGIN Cache-Control Headers
<IfModule mod_headers.c>
<filesmatch "\\.(ico|jpe?g|png|bmp|woff|gif|swf|gz|ttf|webp)$">
Header set Cache-Control "max-age=31536000"
</filesmatch>
<filesmatch "\\.(css)$">
Header set Cache-Control "max-age=31536000"
</filesmatch>
<filesmatch "\\.(js)$">
Header set Cache-Control "max-age=31536000"
</filesmatch>
<filesmatch "\\.(html|htm)$">
Header set Cache-Control "max-age=604800"
</filesmatch>
</IfModule>
# END Cache-Control Headers

# BEGIN Expires Headers
<IfModule mod_expires.c>
 ExpiresActive On
 ExpiresByType image/jpg "access plus 31536000 seconds"
 ExpiresByType image/jpeg "access plus 31536000 seconds"
 ExpiresByType image/png "access plus 31536000 seconds"
 ExpiresByType image/bmp "access plus 31536000 seconds"
 ExpiresByType image/woff "access plus 31536000 seconds"
 ExpiresByType image/ico "access plus 31536000 seconds"
 ExpiresByType text/css "access plus 31536000 seconds"
 ExpiresByType text/javascript "access plus 31536000 seconds"
 ExpiresByType text/html "access plus 604800 seconds"
</IfModule>
# END Expires Headers